{% extends 'base.html' %} 
{% load hitcount_tags %}
{% block content %}

<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-12">
      {% for manna in mannas %}
      <div class="p-12 md:w-1/2 flex flex-col items-start">
        <span
          class="inline-block py-1 px-2 rounded bg-indigo-50 text-indigo-700 text-xs font-medium tracking-widest"
          >{{manna.category|capfirst}}</span
        >
        <a href="{{ manna.get_absolute_url }}">

          <h2 
          class="sm:text-3xl text-2xl title-font font-medium text-gray-900 mt-4 mb-4"
        >
          {{manna.title}}
        </h2>

        </a>
        <p class="leading-relaxed mb-8">{{manna.body|truncatewords:29}}</p>
        <div
          class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-gray-100 mt-auto w-full"
        >
          <a
            href=" {{ manna.get_absolute_url }} "
            class="text-indigo-500 inline-flex items-center"
            >Learn More
            <svg
              class="w-4 h-4 ml-2"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M5 12h14"></path>
              <path d="M12 5l7 7-7 7"></path>
            </svg>
          </a>
          <span
            class="text-gray-400 mr-3 inline-flex items-center ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200"
          >
            <svg
              class="w-4 h-4 mr-1"
              stroke="currentColor"
              stroke-width="2"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              viewBox="0 0 24 24"
            >
              <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
              <circle cx="12" cy="12" r="3"></circle></svg
            >{% get_hit_count for manna %}
          </span>
          <span
            class="text-gray-400 inline-flex items-center leading-none text-sm"
          >
            <svg
              class="w-4 h-4 mr-1"
              stroke="currentColor"
              stroke-width="2"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              viewBox="0 0 24 24"
            >
              <path
                d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"
              ></path></svg
            >6
          </span>
        </div>
        <a href="{{ manna.user.get_absolute_url }}" class="inline-flex items-center">
          <img
            alt="{{manna.user.first_name}}"
            src="{{manna.user.avatar.url}}"
            class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center"
          />
          <span class="flex-grow flex flex-col pl-4">
            <span class="title-font font-medium text-gray-900"
              >{{manna.user.get_full_name}}</span
            >
            <span class="text-gray-400 text-xs tracking-widest mt-0.5"
              >{{manna.created|timesince}}</span
            >
          </span>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>







<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white footer px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6">
  <div class="flex-1 flex justify-between sm:hidden">
    <a href="#" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50"> Previous </a>
    <a href="#" class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50"> Next </a>
  </div>
  <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
    <div>
      <p class="text-sm text-gray-700">
        Showing Page
        <span class="font-medium">{{ page_obj.number }}</span>
        of
        <span class="font-medium">{{ page_obj.paginator.num_pages }}</span>
      </p>
    </div>
    <div>
  
      <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
          <span class="sr-only">Previous</span>
          <!-- Heroicon name: solid/chevron-left -->
          <svg stroke="currentColor"  class="text-blue-900 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
        </a>
        {% endif %}
        <!-- Current: "z-10 bg-indigo-50 border-indigo-500 text-indigo-600", Default: "bg-white border-gray-300 text-gray-500 hover:bg-gray-50" -->
      
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.paginator.num_pages }}" class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
          <span class="sr-only">Next</span>
          <!-- Heroicon name: solid/chevron-right -->
          <svg class="h-5 text-blue-900 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
          </svg>
        </a>
        {% endif %}
      </nav>
    </div>
  </div>
</div>


<style>
  .footer{
    position: fixed;
    bottom: 0;
    width: 100%;
  } 
</style>


{% endblock content %}
